*.gem
*setup.sh
*.rbc
.*.sw?
.DS_Store
.bundle/
.dat*
.repl_history
.rspec_system
.rvmrc
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
Gemfile.lock
build/
log/
pkg
spec/fixtures
vendor/
